<app-not-found [visible]="!bag" notFoundMassage="Product Not Found" resetLinkText="Back To Homepage"></app-not-found>
<div *ngIf="bag" class="container">
    <img [src]="bag.imageUrl" [alt]="bag.name"/>

    <div class ="details">
        <div class ="header">
            <span class="name">
                {{bag.name}}
            </span>
            <span class="favorite not">
                &#10084;
            </span>
        </div>
        
        <div class="origins">
            <span *ngFor="let origin of bag.origins">
                {{origin}}
            </span>
        </div>

        <div class="tags">
            <app-tags [bagPageTags]="bag.tags" justifyContent = "start"></app-tags>
        </div>

        <div class="cookTime">
            <span>
                time to work about <strong>{{bag.cookTime}}</strong> minutes
            </span>
        </div>
        <div class="price">
            <span>
                {{bag.price| currency}}
            </span>
        </div>
        <button (click)="addToCart()"> Add to Cart</button>
    </div>
</div>

