<app-not-found 
  [visible]="!bag" 
  notFoundMassage="Product Not Found" 
  resetLinkText="Back To Homepage">
</app-not-found>

<div *ngIf="bag" class="container">
  <div class="image-wrapper">
    <img [src]="bag.imageUrl" [alt]="bag.name" />
  </div>

  <div class="details">
    <header class="header">
      <h2 class="name">{{ bag.name }}</h2>
      <span class="favorite not">&#10084;</span>
    </header>

    <section class="origins">
      <span *ngFor="let origin of bag.origins" class="origin-tag">
        {{ origin }}
      </span>
    </section>

    <section class="cookTime">
      <span>
        Tempo di realizzazione: <strong>{{ bag.workTime }}</strong>
      </span>
    </section>

    <section class="price">
      <span>
        {{ bag.price | currency }}
      </span>
    </section>

    <section class="description">
      <p>
        {{ bag.description }}
      </p>
    </section>

    <button (click)="addToCart()">Aggiungi al carrello</button>
  </div>
</div>
