<div class="container">
    <div class="content">
        <h1>Totale Ordine</h1>
        <div class="summary">
            <div>
                <h3> Name:</h3>
                <span>{{order.name}}</span>
            </div>
             <div>
                <h3> Address:</h3>
                <span>{{order.address}}</span>
            </div>
        </div>
        <order-items-list [order]="order"></order-items-list>
    </div>

    <div class="buttons-container">
        <div class="buttons">
            <button (click)="onCompletePurchase()" class="complete-btn">
                 Completa acquisto
            </button>
        </div>
    </div>
</div>