<div class="checkout-container">
  <div class="checkout-content">
    <h1>Ordine</h1>

    <div class="grid-layout">
      <div class="form-section">
        <form [formGroup]="checkoutForm">
          <text-input [control]="fc.name" label="Name"></text-input>
          <text-input [control]="fc.address" label="Address"></text-input>
        </form>
      </div>

      <div class="map-section">
        <map [order]="order"></map>
      </div>
    </div>

    <order-items-list [order]="order"></order-items-list>

    <div class="checkout-buttons">
      <button (click)="createOrder()">Vai al pagamento</button>
    </div>
  </div>
</div>
