.checkout-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
}

.checkout-content {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.grid-layout {
  display: grid;
  grid-template-columns: 2fr 1.2fr;
  gap: 2rem;
  align-items: start;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.map-section {
  height: 140px;
  width: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin-top: 4px; /* regola fine per l’allineamento */
}

/* Adatta tutto per mobile */
@media (max-width: 768px) {
  .grid-layout {
    grid-template-columns: 1fr;
  }

  .map-section {
    height: 250px;
    margin-top: 0;
  }
}

.checkout-buttons {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

button {
  width: 75%;
  height: 3rem;
  background-color: #803144;
  color: white;
  font-size: 1.3rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px grey;
  opacity: 0.8;
}

button:hover {
  opacity: 1;
  cursor: pointer;
}
