div{
    display: flex;
    flex-wrap: wrap;
}


div a{
    background-color: #f0f0f0;
    padding: .3rem;
    margin: .2rem .30rem;
    border-radius: 10rem;
    font-weight: 500;
    color: #803144;
    font-size: 1rem;
}